:root {
  --1-bg-color: #303641;
  --2-bg-color: #3b3f4b; 
  --1-txt-color:white;
  --1-acc-color:#5294e2;
}
.body--home, .site-wrapper--home, body
{
    background: var(--2-bg-color);
    font-family: Roboto, Segoe UI, sans-serif !important;
}
.result__snippet, .module__text, .module__title__link, .module__title__link:hover, .module__title__link:active, .module__title__link:visited
{
    color: var(--1-txt-color);
    font-family: Roboto, Segoe UI, sans-serif !important;
}
.svg .logo_homepage
{
    background-image: url(https://img.fanman03.ml/ddg.svg);
}
.tag-home__link, .tag-home__link:hover, .tag-home__link:visited, .tag-home__link:active
{
    color: var(--1-acc-color);
}
.search:hover .search__button, .search__input:focus ~ .search__button, .search--header.has-text.search--hover .search__button, .search--header.has-text.search--focus .search__button, .search--home.has-text .search__button
{
    background-color: var(--1-acc-color);
}
.search, .search--adv
{
    background-color: var(--1-bg-color);
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    color: var(--1-txt-color);
}
.search__input, .search__input--adv
{
    color: var(--1-txt-color);
}
.header-wrap
{
    background: var(--2-bg-color);
}
.zcm__link.is-active {
    color: var(--1-acc-color);
    border-bottom: solid 1px var(--1-acc-color);
}
.svg .header__logo
{
    background-image: url(https://img.fanman03.ml/ddgs.svg);   
}
.content-wrap
{
    background: var(--1-bg-color);
    color: var(--1-txt-color);
}
.result__a:visited, .result__a:visited:hover, .result__a, .result__a:hover
{
    color: var(--1-acc-color);
}
.result.highlight
{
    background: var(--2-bg-color);
}
.search-filters-wrap:before, .search-filters-wrap:after, .metabar__dropdowns-wrap:before, .metabar__dropdowns-wrap:after
{
    display:none;
}
.dropdown__button, .dropdown__button:focus, .dropdown__button:visited, .dropdown.is-open .dropdown__button, .result__url, .result__url:active, .result__url:visited:focus, .module__official-url, .module__more-at, .module__more-at-bottom, .module__official-url:hover, .module__more-at:hover, .module__more-at-bottom:hover, .no-touch .zcm__link:hover, .tile__title
{
    color: var(--1-acc-color);
    font-family: Roboto, Segoe UI, sans-serif !important;
}
.dropdown__button:hover, .dropdown__button:focus, .dropdown__button:visited, .dropdown.is-open .dropdown__button, .about-info-box__info-value, .about-profiles__link, .about-profiles__link:hover, .about-profiles__link:visited, .about-profiles__link:active, .zcm__link, .zcm__link:focus, .zcm__link:hover, .video-source, .result__timestamp
{
   color: var(--1-txt-color); 
   font-family: Roboto, Segoe UI, sans-serif !important;
}
.results--sidebar
{
    background-color: var(--2-bg-color);
}
.acp,  .acp-wrap, .search__autocomplete
{
    color: var(--1-txt-color); 

    background: var(--1-bg-color);
    border: none;
}
.acp--highlight
{
    background: var(--1-acc-color);
}
.acp strong, .acp--bang strong, .result__snippet b, .result__snippet strong
{
    color: var(--1-txt-color); 
    font-weight: bold;
    font-family: Roboto, Segoe UI, sans-serif !important;
}
.about-info-box__info-label
{
    color: var(--1-acc-color);
}
.result__url:hover, .result__url:active:hover, .result__url:visited:focus
{
    font-weight: bold;
    color: var(--1-acc-color);
}
.module
{
    border: 1px solid var(--1-txt-color);
}
.about-info-box__info-row, .about-info-box__link-row
{
    border-top: 1px solid var(--1-txt-color);
}
.no-touch .zcm__link.is-active:hover, .no-touch .zcm__link.is-active:hover:active, .no-touch .zcm__link.is-active:focus:active,  .no-touch .zcm__link:hover:active, .no-touch .zcm__link:focus:active, .text--primary, .tx-clr--dk, .tx-clr--slate, .footer__text, .footer__title
{
    color: var(--1-txt-color); 
    font-family: Roboto, Segoe UI, sans-serif !important;
}
.zci, .bg-tile
{
    background: var(--1-bg-color);
}
.tile, .tile--s, .tile--info
{
    background: var(--2-bg-color);
    border: none;
}
.feedback-btn__send, .feedback-btn--clicked, .btn, .button, .btn--icon, .btn--top, .header__button, .header__button--menu
{
    border-radius: 0;
    border:1px var(--2-bg-color) solid;
    background: var(--1-acc-color);
    color: var(--1-txt-color);
}
.feedback-btn__send:hover, .feedback-btn--clicked:hover, .button:hover, .result--more__btn:hover
{
    border-radius: 0;
    border:1px var(--2-bg-color) solid;
    background: var(--1-acc-color);
    color: var(--2-bg-color);
}
.footer
{
    background: var(--2-bg-color);
    border-top: 1px solid var(--1-acc-color);
}
.bg-clr--white
{
    background: var(--1-bg-color);
    border: 1px solid var(--1-txt-color);
}
.header__button--menu
{
    background: rgba(0,0,0,0);
}
