body
{
     background-color: #3b3f4b;
}
#fbar
{
    background: #303641;
    border-top: 1px solid #303641;
    color:#fff;
}
.ftl, #footer a
{
color:#5294e2;
}
.jhp input[type="submit"], .gbqfba
{
    background-image: -webkit-linear-gradient(top,#5294e2;,#f1f1f1);
}
.s, .st em, em, .st.s.std em
{
    color:#fff;
}
.s .st em, .st.s.std em
{
color:#5294e2;
}
a:link, .w, #prs a:visited, #prs a:active, .q:active, .q:visited, .kl:active, .tbotu
{
color:#5294e2;
}
#appbar, .sbsb_a
{
    background: #303641;
}
#hdtbSum
{
     background-color: #3b3f4b;
     border-bottom: #3b3f4b;
}
.sbib_a, .sbibod
{
    background: #303641;
}
.gsfi
{
    color: #fff !important;
}
.jhp input[type="submit"]:hover
{
    background-image: -webkit-gradient(linear,left top,left bottom,from(#5294e2),to(#5294e2));
    border-color: #303641;
}
li
{
    color:#fff;
}
li b
{
  color:#5294e2;
}
.xpdopen
{
    background: #303641;
}
.sfbgg
{
    background-color: #3b3f4b;
}
#hdtb
{
    border-bottom: #3b3f4b;
}
.wf-b #cnt .g, body.vasq #resultStats
{
    color:#fff;
}
.sbsb_d
{
    background-color: #3b3f4b;
}
#hdtb-msb .hdtb-mitem.hdtb-msel, #hdtb-msb .hdtb-mitem.hdtb-msel-pre
{
    color:#5294e2;
    border-bottom:3px solid #5294e2;
}
.sbico, #hptl a, #gb#gb a.gb_O, #gb#gb a.gb_P, #gb#gb span.gb_P
{
   color:#5294e2; 
   opacity: 1;
}
.jhp input[type="submit"]
{
        background-image: -webkit-gradient(linear,left top,left bottom,from(#303641),to(#303641));   
        border-color: #303641;
        color:#5294e2;
}
.gb_Jc .gb_Qc.gb_Qc
{
    background-color:#5294e2;
}
.sbdd_a input, .gbqfba
{
    background-image: -webkit-gradient(linear,left top,left bottom,from(#5294e2),to(#5294e2));   
        border-color: #5294e2;
        color:#303641
}
 .sbdd_a input:hover, .gbqfba:hover
{
    background-image: -webkit-gradient(linear,left top,left bottom,from(#303641),to(#303641));   
        border-color: #5294e2;
        color:#5294e2;
}
.gb_da
{
   background: #303641; 
}
.sbpqs_a
{
    font-weight: bold;
    color: #fff;
}
.eJ7tvc, .sbl1
{
    color: #fff;
}
.mblink:visited, a:visited
{
   font-weight: bold !important; 
    color:#5294e2;
}
g-inner-card
{
   background: #303641; 
}
.cJzOGc, .cJzOGc.Fuybue:visited, #brs .med
{
    color: #fff;
}
.related-question-pair
{
    background-color: #303641; 
    border-top:1px solid #3b3f4b;
}
.RNNXgb, .aajZCb
{
    background: #303641;
}
.sbhl
{
    background: #3b3f4b;
}
